.about{
    &__info{
        width: 960px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }
    &__title{
        font-size: 1.5rem;
        font-weight: 900;
        position: relative;
        color: var(--primary-text-color);

        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            width: 100%;
            height: 0.325rem;
            background-color: var(--tertiary-theme-color);
            transition: all 0.25s ease-in-out;
        }
    }
    &__subtitle{
        font-size: 1.125rem;
        color: var(--primary-text-color);
    }
    &__text{
        display: flex;
        margin: 0;
        padding: 2rem;
        width: 960px;
        text-align: justify;
        gap: 2rem;
        align-items: center;

        &--container{
            display: flex;
            flex-direction: column;
        }
    }
    &__img{
        margin: 0;
        padding: 0;
        max-width: 100%;
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 0.5rem 0.125rem rgba(0, 0, 0, 0.48);
        transition: transform 0.25s ease-in-out;
        width: 300px;
        height: 300px;
    }
    
    &__paragraph{
        color: var(--primary-text-color);
        font-size: 0.85rem;
    }
}

.valor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__item {
        padding-top: 2rem;
        text-align: center;

        &-icon {
            color: var(--tertiary-theme-color);
            font-size: 3rem;
            text-align: center;
        }

        &-title {
            font-size: 22px;
            text-align: center;
        }

        &-paragraph {
            font-size: 1rem;
            text-align: center;
        }
    }


    &__item a {
        margin-top: 0;
        display: block;
        text-align: center;
        padding: 1.25rem;
        font-size: 1.25rem;

        &:hover{
            background-color: var(--secondary-theme-color);
            color: var(--tertiary-text-color);
            border-bottom-right-radius: 0.75rem;
    }}
  }
  
//   img {
//     max-width: 100%;
//     display: block;
//   }
  
@media(min-width:1920px){
    .about{
        &__paragraph{
            font-size: 1rem;
        }
        &__img{
            width: 400px;
            height: 400px;
        }
    }
}

@media(max-width:768px){
    .about{

        &__title{
            display: none;
        }
        &__paragraph{
            font-size: 0.65rem;
        }
        &__img{
            width: 200px;
            height: 200px;
        }
        &__text{
            flex-direction: column;
            max-width: 360px;
            padding: 0.5rem;
            gap: 0;
        }
    }

    .valor {
        grid-template-columns: repeat(1, 1fr);
    }
}