.item{
    &__img{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        box-shadow: 0 0 0 0.25rem var(--primary-shadow-color);

        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__album{
        color: var(--primary-shadow-color);

        &-artist{
            color: var(--tertiary-theme-color);
            font-size: 1.5rem;
        }
        &-title{
            font-size: 2.5rem;
        }
        &-date{
            font-size: 1rem;
        }
        &-info{
            font-size: 1rem;
        }

        &-option{
            font-size: 0.85rem;
            font-weight: 500;

            &-container{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                width: 100%;
                justify-content: space-between;
            }
        }

        &-quantity{
            &-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
            }
            
            &-button{
                width: 3rem;
                height: 3rem;
                background-color: transparent;
                border-radius: var(--primary-border-radius);
                border: none;
                box-shadow: 0 0 0 0.125rem var(--primary-shadow-color);
                transition: box-shadow 0.25s ease-in-out;

                &:hover{
                    box-shadow: 0 0 0 0.125rem var(--primary-highlight-color);
                }
            }

            &-number{
                color: var(--primary-text-color);
                margin: 0;
                font-size: 0.85rem;
            }
        }

        &-format{
            position: relative;

            &-dropdown{
                position: relative;
                transition: all 0.25s ease-in-out;

                &-button{
                    position: relative;
                    z-index: 5;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                    width: 15rem;
                    height: 3rem;
                    background-color: var(--primary-theme-color);
                    border-radius: var(--primary-border-radius);
                    border: none;
                    box-shadow: 0 0 0 0.125rem var(--primary-shadow-color);
                    font-size: 1rem;
                    color: var(--primary-text-color);
                    font-weight: 500;
                    text-align: left;
                    padding: 0 1rem;
                    transition: all 0.25s ease-in-out;

                    &:hover{
                        box-shadow: 0 0 0 0.125rem var(--primary-highlight-color);
                    }
                }

                &__menu{
                    // z-index: 3;
                    position: absolute;
                    display: none;
                    background-color: var(--primary-theme-color);
                    border-radius: var(--primary-border-radius);
                    padding: 3rem 1rem 0 1rem;
                    color: var(--primary-shadow-color);
                    font-weight: 600;
                    transform: translateY(-3rem);
                    box-shadow: 0 0 0 0.125rem var(--primary-shadow-color);
                    width: 15rem;
                    transition: all 0.25s ease-in-out;

                    &--active{
                        display: block;
                    }

                    // .item__album-format-dropdown:hover &{
                    //     display: block;
                    // }
                    
                    &-item{
                        margin: 0;
                        text-decoration: none;
                        padding: 1rem 0;
                        cursor: pointer;

                        &:hover{
                            color: var(--primary-highlight-color);
                        }
                    }
                }
            }
        }

        &-buy{
            &-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 2.5rem;
            }

            &-price{
                color: var(--tertiary-theme-color);
                font-size: 2.5rem;
                font-weight: 500;
            }

            &-button{
                background-color: var(--tertiary-theme-color);
                width: 16rem;
                height: 3rem;
                color: white;
                font-size: 0.85rem;
                border: none;
                border-radius: var(--primary-border-radius);
                letter-spacing: 0.25rem;
                transition: filter 0.25s ease-in-out;

                &:hover{
                    filter: brightness(80%);
                }
            }

            &-cart{
                border: none;
                color: var(--primary-text-color);
                background-color: transparent;
                border-radius: var(--primary-border-radius);
                width: 3rem;
                height: 3rem;
                box-shadow: 0 0 0 0.125rem var(--primary-shadow-color);
                font-size: 1.5rem;
                transition: box-shadow 0.25s ease-in-out;

                &:hover{
                    box-shadow: 0 0 0 0.125rem var(--primary-highlight-color);
                }
            }
        }
    }
}

@media(min-width: 768px){
    .item{
        &__img{
            width: 25rem;
            height: 25rem;
        }
        &__album{
            &-option{
                &-container{
                    flex-direction: row;
                }
            }
        }
    }
}