.store {
    &__album {

        &-button {
            position: absolute;
            top: calc(50% - 1.5em);
            left: calc(50% - 8em);
            width: 16em;
            height: 3em;
            display: none;
            z-index: 25;
            filter: brightness(125%);

            .container__store-album:hover &  {
                display: block;
            }
        }
    }
}