.switch{
    z-index: 30;
    background-color: var(--tertiary-theme-color);
    border-radius: 1000px;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: fixed;
    right: 3%;
    bottom: 8%;
    font-size: 2rem;
    width: 64px;
    height: 64px;

    &:hover{
        filter: brightness(85%);
    }
}

.icon{
    --visibility-sun: contents;
    --visibility-moon: none;
    color: white;
    
    &__sun{
        display: var(--visibility-sun);

        &--toggle{
            --visibility-sun: none;
        }
    }

    &__moon{
        display: var(--visibility-moon);

        &--toggle{
            --visibility-moon: contents;
        }
    }

    
}
// .switch.active::after{
//    right: 0; 
//    left: unset;

// }

.nav_span{
width: 30px;
height: 30px;
line-height: 30px;
display: block;
background: none;
color: #fff;
}